:root {
  --text-color: #010B13;
  --background-color: #E5E4E2;
  --button-bg-color: #1E4D2B;
  --button-text-color: #ffffff;
  --icon-color: #1E4D2B;
  --icon-active: #1E4D2B;
  --red-color: #ff868d;
  --white-color: #ffffff;
  --yellow-color: #ffb627;
  --text-button: #010B13;
  --button-color: #1E4D2B;
  --text-rgba: rgba(1, 11, 19, 0.6);
  --bg-form: rgba(229, 228, 226, 0.65);

  --button-gradient: linear-gradient(
    167deg,
    #1E4D2B 0%,
    #1E4D2B 61.46%,
    #173721 90.54%
  );
  --dropdown: linear-gradient(
    360deg,
    rgba(30, 77, 43, 0.7) 0%,
    rgba(30, 77, 43, 0.7) 35.94%,
    rgba(30, 77, 43, 0.7) 61.04%,
    rgba(30, 77, 43, 0.7) 100%
  );

  /* COLOR PALETTE */
  --yellow: #ffb627;
  --yellow-color: #ffb627;
  --red-color: #ff868d;
  --icon-violet: #1E4D2B;
  --white: #ffffff;
  --white-color: #ffffff;
  --white-400: rgba(255, 255, 255, 0.4);
  --white-600: rgba(255, 255, 255, 0.6);
  --dashboard-text: #1E4D2B;
  --form-color: rgba(255, 255, 255, 0.1);

  /* FONT */
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
